[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
streamlit = "*"
langchain-community = "*"
pypdf = "*"
langchain = "*"
chromadb = "*"
langchain-chroma = "*"
langchain-openai = "*"
pysqlite3-binary = "*"
python-dotenv = "*"
elasticsearch = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
hyperopt = "*"
faiss-cpu = "*"

[requires]
python_version = "3.12"
